# vi: ft=crontab

#*/1 * * * * export DISPLAY=:0 && /Volumes/github/osx-webpage-notify/everett.sh >> /Volumes/github/osx-webpage-notify/everett.log

*/1 * * * * export DISPLAY=:0 && /Volumes/github/osx-webpage-notify/evergreen.sh >> /Volumes/github/osx-webpage-notify/evergreen.log
